<div class="row">
  <h1>All Episodes</h1>
  <div class="col-md-10">
    <% @episodes.each do |episode| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to(image_tag("thumbnail.jpg"), episode) %>
        <%= link_to episode.title, episode %>
          <ul class="list-inline">
            <% unless episode.tags.empty? %>
              <li><i class="glyphicon glyphicon-info-sign"></i> <%= episode.tags.first %></li>
            <% end %>
            <li><i class="glyphicon glyphicon-calendar"></i> <%= episode.published_at.strftime("%d-%m-%Y")%></li>
            <li><i class="glyphicon glyphicon-time"></i> <%= episode.to_time %></li>
          </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-2">
    <header>
      Tags
    </header>
    <ul class="list-inline">
    <% @tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
    <ul>
  </div>
</div>