<div class="col-md-7 buffer alt post">
  <header>
    <h1><%= @episode.name %></h1>
    <ul class="list-inline text-uppercase">
      <li><i class="glyphicon glyphicon-info-sign"></i> <%= @episode.tags.first %></li>
      <li><i class="glyphicon glyphicon-calendar"></i> <%= @episode.published_at.strftime("%d-%m-%Y")%></li>
      <li><i class="glyphicon glyphicon-time"></i> <%= @episode.to_time %></li>
    </ul>
  </header>
  <article>
    <p><%= @episode.description %></p>

    <p>
      <i class="glyphicon glyphicon-tags"></i> <strong class="text-uppercase">Tags:</strong>
      <% @episode.tags.each do |tag| %>
        <%= tag.name %> 
      <% end %>
    </p>

    <div class="notes">
      <i class="glyphicon glyphicon-link"></i> <strong class="text-uppercase">Links:</strong> <p></p>
    </div>
  </article>
</div>
<div class="col-md-12">
  <article>
    <%= render "shownotes/#{@episode.friendly_id}/notes" %>
  </article>
</div>