<div class="col-md-7 buffer alt post">
  <header>
    <h1><%= @episode.name %></h1>
    <ul class="list-inline text-uppercase">
      <% unless @episode.tags.empty? %>
        <li><i class="glyphicon glyphicon-info-sign"></i> <%= @episode.tags.first %></li>
      <% end %>
      <li><i class="glyphicon glyphicon-calendar"></i> <%= @episode.published_at.strftime("%d-%m-%Y")%></li>
      <li><i class="glyphicon glyphicon-time"></i> <%= @episode.to_time %></li>
    </ul>
  </header>
  <article>
    <p><%= @episode.description %></p>

    <div id="container">
      <%= videojs sources: { mp4: "/assets/sample.mp4" }, width:"481", height:"271", controls: true, autobuffer: true %>
    </div>

    <p>
      <i class="glyphicon glyphicon-tags"></i> <strong class="text-uppercase">Tags:</strong>
      <% @episode.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </p>

    <% if user_signed_in? %>
      <p>
        <%= link_to "Watch later", new_watchlater_path({watchlater: {episode_id: @episode.id, user_id: current_user.id}}), data: {remote: true} %>
      </p>
    <% end %>

    <div class="notes">
      <i class="glyphicon glyphicon-link"></i> <strong class="text-uppercase">Links:</strong> <p></p>
    </div>
  </article>
</div>
<div class="col-md-12">
  <article>
    <%= render "shownotes/#{@episode.friendly_id}/notes" %>
  </article>
</div>
